.company {
	@include flex;
	flex-flow: row wrap;
	margin: 10em auto 0;
	max-width: 1366px;
	
	.leftCol, .rightCol {
		width: 40%;
		padding: 0 2em;
	}
	
	.leftCol {
		h3 {
			text-align: left;	
		}
		
		.link {
			&:before, &:after {
				background: $mainColor;
			}
		}
	}
	
	.rightCol {
		padding-top: 3em;
		
		form ul {
			list-style: none;
			margin-bottom: 2em;
			
			li:nth-child(2), li:nth-child(3), li:nth-child(4), li:nth-child(5) {
				box-sizing: border-box;
				@include flex;
				flex-direction: row;
				width: 49%;
				float: left;
			}
			
			li:nth-child(3), li:nth-child(5) {
				margin-left: .5em;
			}
		} 
	}
}

input:-internal-autofill-selected {
	background-color: $gray !important; 
}

input {
	width: 98% !important;
	height: 3em !important;
	margin-top: 2em !important;
	color: $secColor !important;
	padding-left: .5em !important;
}


label {
	position: absolute !important;
	margin: 1.6em 0 0 1em !important;
	background: $white !important;
	padding: 0 .5em !important;
	font-size: .7em !important;
	z-index: 2;
}

#formBtn {
	display: inline-block !important;
	box-sizing: border-box;
	margin: 0;
	padding: 0 0 0 2.5em;
	
	.btnEffect:hover {
		color: $secColor;
	}
	
	.btnEffect::after {
		border: 1px solid $secColor !important;
	}
}

.companyGain {
	@include flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	height: 6em;
	background: url("../img/organicFormBackground_6.svg") no-repeat;
	background-size: cover;
	color: $white;
	margin: 3em 0 0 0;
	
	span {
		display: block;
		background: url("../img/icons/checked.svg") no-repeat;
		background-size: contain;
		width: 50px;
		min-width: 50px;
		height: 30px;
		margin: .5em;
	}
	
	div {
		display: inline-flex;
		align-items: center;
		max-width: 20%;
	}
}

.companyContact {
	background: $gray;
	padding: 3em 2em;
	
	.contact {
		@include flex;
		flex-flow: row nowrap;
		max-width: 992px;
		margin: 0 auto;
	}
	
	.contactImg {
		min-width: 250px;
		height: auto;
	}
	
	.contactInfo {
		flex-direction: column;
		padding: 0 6em 0 3em;
	}
	
	.contactDetails {
		background: transparent;
		justify-content: flex-start;
	}
}

.companyInspiration {
	padding: 0 2em; 
	
	h3 {
		margin: 2em 0;
	}
	
	.inspirationCarousel {
		z-index: 0;
	}
	
	.inspirationCarousel .owl-stage-outer {
	height: 36em !important;
	}
/*
.owl-item {
	max-width: 300px !important;
	
	img {
		max-width: 250px;
	}
} */
	
	.owl-nav {
		display: none;
	}
	
	.owl-dots {
		text-align: center;
		
		.owl-dot {
			width: 2em;
			height: 8px;
			background: $secColor !important;
			margin: 2em .5em 2em 0;
		}
	
		.active {
			background: $mainColor !important;
		}
	}

	
	
	
}

@media (min-width: 1440px) {
	.inspirationCarousel .owl-item img {
		width: 75%;
	}
}



@media (max-width: 1365px) {
	.company {
		@include flex;
		flex-flow: row wrap;
		margin: 10em auto 0;
	
		.leftCol, .rightCol {
			box-sizing: border-box;
			width: 50%;
			padding: 0 2em;
		}
	}
}
	
@media (max-width: 992px) {
	.company {
		flex-flow: column nowrap;
		
		.leftCol, .rightCol {
			width: 100%;
		}
		
		.rightCol ul {
			padding: 0; 
			
			li {
			width: 100% !important;
			margin: 0 !important;
			}
		}
	}
	
	#formBtn {
		padding: 0 !important;
	}
	
	.companyGain {
		box-sizing: border-box;
		flex-direction: column;
		height: auto;
		align-items: flex-start;
		padding: 2em 2em;
		
		div {
			max-width: 100%;
		}
	}
	
	.companyContact {
		
		.contactInfo {
			padding: 0;
		}
		
		.contactImg {
			min-width: 100%;
			height: auto;
		}
		
		.contact {
			flex-flow: column nowrap;
			width: 100%;
			
			.contactDetails {
				flex-direction: column;
				
				.mail {
					margin: 1.5em 0;
				}
			}
		}
	}
	
	.companyInspiration .inspiration {
		flex-flow: row wrap;
		
		.item {
			width: calc(100%/3);
		}
	}
}	

@media (max-width: 575px) {
	.companyInspiration .owl-stage-outer {
		height: auto !important; 
	}
	
	.inspirationCarousel .owl-item img {
		width: 75%;
		margin: 0 auto;
	}
}

